     <nav>
      {{#link-to 'index'}}Home{{/link-to}}
      {{#link-to 'contact'}}Contacts{{/link-to}}
      {{#link-to 'about'}}About{{/link-to}}
      </nav>
      {{#each}}
      <h3>{{firstName}} {{lastName}}</h3>
      {{/each}}
    {{outlet}}
    <form>
      {{input type="text" value=firstName placeholder="First Name"}}
      {{input type="text" value=lastName placeholder="Last Name"}}
      <button {{action 'createPerson'}}>Add Person</button>

    </form>
      You are adding <strong>{{firstName}} {{lastName}}</strong> to the best address book of all time!
