{{firstName}} {{lastName}}
{{input type="text" id='editFirst' value=editFirstName placeholder="Edit First Name"}}
{{input type="text" id='editLast' value=editLastName placeholder="Edit Last Name"}}
<button id='createButton' {{action 'createPerson'}}>Edit Person</button>