{{firstName}} {{lastName}}
{{input type="text" id='editFirst' value=firstName placeholder="Edit First Name"}}
{{input type="text" id='editLast' value=lastName placeholder="Edit Last Name"}}
<button id='editButton' {{action 'backHome'}}>Edit Person</button>