{{firstName}}{{lastName}}
{{input type="text" id='first' value=inputFirstName placeholder="First Name"}}
{{input type="text" id='last' value=inputLastName placeholder="Last Name"}}
<button id='createButton' {{action 'createPerson'}}>Edit Person</button>